<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.dao.ChargedrugMapper">
  <resultMap id="BaseResultMap" type="com.hospital.pojo.Chargedrug">
    <id column="ChargeDrugId" jdbcType="INTEGER" property="chargedrugid" />
    <result column="ChargeOrderId" jdbcType="INTEGER" property="chargeorderid" />
    <result column="DrugId" jdbcType="INTEGER" property="drugid" />
    <result column="ChargeDrugNum" jdbcType="INTEGER" property="chargedrugnum" />
    <result column="Doctor" jdbcType="VARCHAR" property="doctor" />
    <result column="DOrderStatus" jdbcType="VARCHAR" property="dorderstatus" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from chargedrug
    where ChargeDrugId = #{chargedrugid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hospital.pojo.Chargedrug">
    insert into chargedrug (ChargeDrugId, ChargeOrderId, DrugId, 
      ChargeDrugNum, Doctor, DOrderStatus
      )
    values (#{chargedrugid,jdbcType=INTEGER}, #{chargeorderid,jdbcType=INTEGER}, #{drugid,jdbcType=INTEGER}, 
      #{chargedrugnum,jdbcType=INTEGER}, #{doctor,jdbcType=VARCHAR}, #{dorderstatus,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hospital.pojo.Chargedrug">
    update chargedrug
    set ChargeOrderId = #{chargeorderid,jdbcType=INTEGER},
      DrugId = #{drugid,jdbcType=INTEGER},
      ChargeDrugNum = #{chargedrugnum,jdbcType=INTEGER},
      Doctor = #{doctor,jdbcType=VARCHAR},
      DOrderStatus = #{dorderstatus,jdbcType=VARCHAR}
    where ChargeDrugId = #{chargedrugid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ChargeDrugId, ChargeOrderId, DrugId, ChargeDrugNum, Doctor, DOrderStatus
    from chargedrug
    where ChargeDrugId = #{chargedrugid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ChargeDrugId, ChargeOrderId, DrugId, ChargeDrugNum, Doctor, DOrderStatus
    from chargedrug
  </select>
</mapper>