<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.dao.DruginMapper">
  <resultMap id="BaseResultMap" type="com.hospital.pojo.Drugin">
    <id column="DrugInId" jdbcType="INTEGER" property="druginid" />
    <result column="DrugInNumber" jdbcType="VARCHAR" property="druginnumber" />
    <result column="DrugId" jdbcType="INTEGER" property="drugid" />
    <result column="DrugInName" jdbcType="VARCHAR" property="druginname" />
    <result column="DrugInUnitId" jdbcType="INTEGER" property="druginunitid" />
    <result column="DrugInBatch" jdbcType="VARCHAR" property="druginbatch" />
    <result column="DrugInNum" jdbcType="INTEGER" property="druginnum" />
    <result column="DrugInUserName" jdbcType="VARCHAR" property="druginusername" />
    <result column="DrugInDate" jdbcType="VARCHAR" property="drugindate" />
    <result column="DrugInExpireDate" jdbcType="VARCHAR" property="druginexpiredate" />
    <result column="SupplierId" jdbcType="INTEGER" property="supplierid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from drugin
    where DrugInId = #{druginid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hospital.pojo.Drugin">
    insert into drugin (DrugInId, DrugInNumber, DrugId, 
      DrugInName, DrugInUnitId, DrugInBatch, 
      DrugInNum, DrugInUserName, DrugInDate, 
      DrugInExpireDate, SupplierId)
    values (#{druginid,jdbcType=INTEGER}, #{druginnumber,jdbcType=VARCHAR}, #{drugid,jdbcType=INTEGER}, 
      #{druginname,jdbcType=VARCHAR}, #{druginunitid,jdbcType=INTEGER}, #{druginbatch,jdbcType=VARCHAR}, 
      #{druginnum,jdbcType=INTEGER}, #{druginusername,jdbcType=VARCHAR}, #{drugindate,jdbcType=VARCHAR}, 
      #{druginexpiredate,jdbcType=VARCHAR}, #{supplierid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hospital.pojo.Drugin">
    update drugin
    set DrugInNumber = #{druginnumber,jdbcType=VARCHAR},
      DrugId = #{drugid,jdbcType=INTEGER},
      DrugInName = #{druginname,jdbcType=VARCHAR},
      DrugInUnitId = #{druginunitid,jdbcType=INTEGER},
      DrugInBatch = #{druginbatch,jdbcType=VARCHAR},
      DrugInNum = #{druginnum,jdbcType=INTEGER},
      DrugInUserName = #{druginusername,jdbcType=VARCHAR},
      DrugInDate = #{drugindate,jdbcType=VARCHAR},
      DrugInExpireDate = #{druginexpiredate,jdbcType=VARCHAR},
      SupplierId = #{supplierid,jdbcType=INTEGER}
    where DrugInId = #{druginid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select DrugInId, DrugInNumber, DrugId, DrugInName, DrugInUnitId, DrugInBatch, DrugInNum, 
    DrugInUserName, DrugInDate, DrugInExpireDate, SupplierId
    from drugin
    where DrugInId = #{druginid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select DrugInId, DrugInNumber, DrugId, DrugInName, DrugInUnitId, DrugInBatch, DrugInNum, 
    DrugInUserName, DrugInDate, DrugInExpireDate, SupplierId
    from drugin
  </select>
</mapper>