<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.dao.DrugtypeMapper">
  <resultMap id="BaseResultMap" type="com.hospital.pojo.Drugtype">
    <id column="DrugTypeId" jdbcType="INTEGER" property="drugtypeid" />
    <result column="DrugTypeName" jdbcType="VARCHAR" property="drugtypename" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from drugtype
    where DrugTypeId = #{drugtypeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hospital.pojo.Drugtype">
    insert into drugtype (DrugTypeId, DrugTypeName)
    values (#{drugtypeid,jdbcType=INTEGER}, #{drugtypename,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hospital.pojo.Drugtype">
    update drugtype
    set DrugTypeName = #{drugtypename,jdbcType=VARCHAR}
    where DrugTypeId = #{drugtypeid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select DrugTypeId, DrugTypeName
    from drugtype
    where DrugTypeId = #{drugtypeid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select DrugTypeId, DrugTypeName
    from drugtype
  </select>
</mapper>